<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Clase WEB</title>
        <link rel="icon" href="../Assets/img/blhe.png">
    </head>
    <body>
        <center>
        <h1>
            BLACK HOLES
        </h1>
        <h2>¿Qué es un agujero negro?</h2>

        <p>Un agujero negro es lo que se conoce como el cadaver de una estrella. Durante su vida, las estrellas van consumiendo sus capas mediante procesos de fusión y fisión nuclear. En el punto en el que las estrellas terminande consumir sus capas, su nucleo se ve tan comprimido que la inestabilidad no le permite estallar haciendo que se forme una singularidad donde la masa del nucleo esta tan comprimida que la gravedad es infinita.</p>
        <img src="https://static.nationalgeographicla.com/files/styles/image_3200/public/noirlab2310a.jpg?w=710&h=363&p=right" ><center/>

        <h2>¿Cuáles son las partes de un agujero negro?></h2>
        <b>Singularidad</b>
        <p>El punto de singularidad es el centro de un agujero negro, es basicamente las cenizas o el verdadera cadaver de la estrella, lo que era antes una esfera de gas ahora se ve comprimido en una minuscula esfera con una masa muuy grande.</p>
        <b>Horizonte de eventos</b>
        <p>El horizonte de evento es un limite que hace parte de los atributos de un agujero negro, dicho limite es la máxima distancia que se puede tener con respecto a la singularidad para poder seguir viviendo en lo conocido. Luego del horizonte de eventos es imposible escapar de la gravedad. No hay nada más que esperar y chocar con la singularidad.</p>
    </body>
</html>