<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/styles.CSS">
</head>
<body>
    <form name="datosBásicos" action="../index.html" method="">

        <h1><img src="../Assets/img/img2.png" width="100px">Datos Básicos</h1>

        <label for="perfil">Describa su perfil:</label>
        <textarea id="perfil" rows="5" cols="90" name="perfil"></textarea><br><br>
        <label for="tipoI">Tipo de identificación:</label>
        <select id="tipoI" name="tipoI">
            <option valoue="0" selected="">Seleccione un tipo de documento</option>
            <option valoue="NUIP">Número Único de Identificación (NUIP)</option>
            <option valoue="Tarjeta de Identidad">Tarjeta de Identidad (TI)</option>
            <option valoue="Cédula de ciudadania">Cédula de Ciudadania (CC)</option>
            <option valoue="Cédula de extranjeria">Cédula de Extranjeria (CE)</option>
            </select><br><br>
        <label for="numI">Número de identificación:</label>
        <input id="numI"><br><br>
        <label for="apelI">Apellidos:</label>
        <input id="apelI" type="text" name="apelI"><br><br>
        <label for="nombI">Nombres:</label>
        <input id="nombI" type="text" name="nombI"><br><br>
        <label for="genero">Género:</label>
        <input id="genF" type="radio" name="genero">Femenino
        <input id="genM" type="radio" name="genero">Masculino<br><br>
        <label for="ecivI">Estado civil:</label>
        <input id="soltero" type="radio" name="ecivI">Soltero
        <input id="casado" type="radio" name="ecivI">Casado
        <input id="ulibre" type="radio" name="ecivI">Unión Libre
        <input id="viud" type="radio" name="ecivI">Viudo(a)<br><br>
        <label for="ntelI">Número telefónico de contacto:</label>
        <input id="ntelI"><br><br>
        <label for="dirI">Dirección de tu residencia:</label>
        <input id="dirI" type="text" name="dirI"><br><br>
        <label for="coreleI">Correo electrónico de contacto:</label>
        <input id="coreleI"><br><br>
        <label for="contra">Contraseña</label>
        <input id="contra" type="password" name="contra"><br><br>

    </form>
</body>
</html>