<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Clase WEB</title>
        <link rel="icon" href="./Assets/img/Wick.webp">
    </head>
    <body>
        
        <h1>
            Jhon wick
        </h1>

        <img src="https://m.media-amazon.com/images/M/MV5BMDExZGMyOTMtMDgyYi00NGIwLWJhMTEtOTdkZGFjNmZiMTEwXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_.jpg" width="20%">
        <h2>Alias</h2>
        <b>Baba Yaga</b>
        <h2>Continental register</h2>
        <b>Continental de nueva york</b>
        
    </body>
</html>