@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 { color: aqua;
     font-family: 'Croissant One', cursive;
     font-style: italic;
     text-align: center;}

h3 { text-align: center;}


img { margin: auto;
    display: block;
      max-width: 80%;
      max-height: 80%;}

p { text-align: justify;}

h4 { color: #60BFA4;
     font-family: 'Roboto', sans-serif;
     text-align: right;}

h5 { text-align: right;}